.auth {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 0.25rem 2rem;
  justify-self: center;
}
.auth a {
  color: var(--text);
  border-radius: 1rem;
  border: 2px solid var(--primary);
  padding: 0.5rem 0.75rem;
}
.auth a.active {
  background-color: var(--primary);
  color: var(--background);
}
